@use '../../../../variables' as *;
@use '../../../../mixins' as *;

.slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
        grid-template-columns: 1fr;
    }

    .slide {
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 0 10px $grey;
    }
}
