@use '../../../../variables' as *;
@use '../../../../mixins' as *;

.education-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 10px 20px;
    color: $primary-2;
    font-size: 16px;
    text-align: justify;
    box-shadow: 0 0 10px $grey;

    @include tablet {
        padding: 5px 10px;
        font-size: 14px;
        text-align: justify;
    }

    &-name {
        font-size: 20px;
        font-weight: 600;

        @include tablet {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
        }
    }

    &-container {
        display: flex;
        flex-direction: row;
        gap: 30px;

        @include tablet {
            gap: 15px;
        }

        .education-card-photo {
            width: 20%;

            @include tablet {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 40%;
            }

            &__img {
                object-fit: cover;
                width: 100%;
            }
        }

        .education-card-info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-item {
                font-size: 16px;

                @include tablet {
                    font-size: 14px;
                }

                &__sub-title {
                    font-weight: 600;
                }
            }
        }
    }
}
