@use '../../variables' as *;
@use '../../mixins' as *;

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 10px 0;

    @include tablet {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    &-title {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        @include tablet {
            justify-content: space-between;
            width: 100%;
        }

        &__name {
            font-size: 34px;
            font-weight: 600;
            color: $white;

            @include desktop {
                font-size: 30px;
            }

            @include small-desktop {
                font-size: 24px;
            }

            @include tablet {
                font-size: 30px;
            }

            @include mobile {
                font-size: 24px;
            }
        }
    }
}
