@use '../../variables' as *;
@use '../../mixins' as *;

.description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    @include tablet {
        gap: 10px;
    }

    &-item {
        border-radius: 15px;
        padding: 10px 20px;
        color: $primary-2;
        font-size: 16px;
        text-align: justify;
        box-shadow: 0 0 10px $grey;

        @include tablet {
            padding: 5px 10px;
            font-size: 14px;
            text-align: justify;
        }

        &-with-photo {
            display: flex;
            flex-direction: row;
            gap: 10px;
            border-radius: 15px;
            color: $primary-2;
            font-size: 16px;
            text-align: justify;
            box-shadow: 0 0 10px $grey;

            @include tablet {
                padding: 5px 10px;
            }

            &__text {
                width: 100%;
                border-radius: 15px;
                padding: 10px 20px;
                color: $primary-2;
                font-size: 16px;
                text-align: justify;
                box-shadow: 0 0 10px $grey;

                @include tablet {
                    font-size: 14px;
                    box-shadow: none;
                    padding: 0;
                    border-radius: 0;
                }
            }

            &__photo {
                display: none;

                @include tablet {
                    display: flex;
                    align-items: center;
                    width: 65%;

                    &__img {
                        object-fit: cover;
                        width: 100%;
                        border-radius: 15px;
                        box-shadow: 0 0 10px $grey;
                    }
                }
            }
        }
    }
}
