@use '../../../variables' as *;
@use '../../../mixins' as *;

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background: linear-gradient(90deg, $primary-1, $secondary-a-0);
    border-radius: 15px;
    gap: 40px;

    @include tablet {
        background: linear-gradient(0deg, $primary-1, $secondary-a-0);
        padding: 20px;
        gap: 20px;
    }

    &-photo {
        width: 250px;
        height: 250px;
        box-shadow: 0 0 10px $grey;
        border-radius: 130px;

        @include tablet {
            width: 200px;
            height: 200px;
        }

        @include mobile {
            width: 150px;
            height: 150px;
        }

        &__img {
            height: 100%;
            width: 100%;
            border-radius: 130px;
        }
    }

    &-title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        &__name {
            font-size: 24px;
            font-weight: 600;
            color: $white;
        }

        &__profession {
            font-size: 20px;
            font-weight: 500;
            color: $complement-4;
            text-align: center;

            @include tablet {
                font-size: 18px;
            }

            @include mobile {
                font-size: 16px;
            }
        }
    }

    &-description {
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px $grey;
        background: $white;
        border-radius: 15px;
        font-size: 16px;
        color: $primary-2;
        text-align: justify;

        @include tablet {
            font-size: 14px;
        }

        @include mobile {
            padding: 5px 10px;
        }
    }

    &-links {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        align-items: center;
        background: $white;
        box-shadow: 0 0 10px $grey;
        width: 70%;
        border-radius: 15px;
        height: 50px;

        @include tablet {
            width: 50%;
        }

        &__icon {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 34px;
            height: 34px;
            border: none;
            border-radius: 30px;
            background: transparent;
            cursor: pointer;

            &:hover {
                border: 2px solid $secondary-b-3;
            }
        }
    }

    &-send-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        padding: 15px 15px;
        border-radius: 15px;
        border: none;
        background: linear-gradient(0deg, $secondary-b-4, $complement-4);
        font-size: 16px;
        font-weight: 600;
        color: $white;
        cursor: pointer;

        @include mobile {
            font-size: 14px;
        }

        &:hover {
            box-shadow: 0 0 10px $secondary-b-4;
        }

        &:active {
            background: $secondary-b-4;
        }
    }
}
