@use '../variables' as *;
@use '../mixins' as *;

.main-layout {
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;

    @include desktop {
        padding-left: 80px;
        padding-right: 80px;
    }

    @include small-desktop {
        padding-left: 60px;
        padding-right: 60px;
    }

    @include tablet {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include mobile {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0 auto;

        @include mobile {
            flex-direction: column-reverse;
            align-items: center;
        }

        .content-layout {
            display: flex;
            width: 100%;
            min-height: 79vh;
            border-radius: 15px;
            background: linear-gradient(-90deg, $primary-1, $secondary-a-0);
            padding: 25px 30px 25px 50px;

            @include mobile {
                min-height: 0;
                background: linear-gradient(180deg, $primary-1, $secondary-a-0);
                padding: 15px 0;
            }
        }
    }
}
