@use '../../../variables' as *;
@use '../../../mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;

  @include tablet {
    align-items: center;
  }

  .title {
    font-size: 34px;
    font-weight: 600;
    color: $white;

    @include desktop {
      font-size: 30px;
    }

    @include small-desktop {
      font-size: 24px;
    }

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 15px;
    background: $white;
    padding: 10px 15px;

    @include tablet {
      gap: 15px;
    }
  }
}