@use '../../../../variables' as *;
@use '../../../../mixins' as *;

.project-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @include tablet {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .project-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 15px;
        padding: 10px 20px;
        color: $primary-2;
        font-size: 16px;
        text-align: justify;
        box-shadow: 0 0 10px $grey;

        @include tablet {
            padding: 5px 10px;
            font-size: 14px;
        }

        &-name {
            font-size: 24px;
            font-weight: 600;
        }

        &-sub-title {
            font-weight: 600;
        }

        &-description {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;

            @include mobile {
                grid-template-columns: 1fr;
            }

            &-photo {

                &__img {
                    object-fit: cover;
                    width: 100%;
                    border-radius: 15px;
                    box-shadow: 0 0 10px $grey;
                }
            }
        }

        &-stack-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5px;
            width: 100%;

            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                background: linear-gradient(0deg, $secondary-b-4, $complement-4);
                height: 30px;
                border-radius: 15px;
            }
        }
    }
}
