.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.title {
    font-size: 36px;
    font-weight: 600;
    color: #FFFFFF;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: 100%;
    border-radius: 15px;
    background: #FFFFFF;
    padding: 10px 15px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.description__item {
    border-radius: 15px;
    padding: 10px 20px;
    color: #071A71;
    font-size: 16px;
    text-align: justify;
    box-shadow: 0 0 10px #cccccc;
}

@media all and (min-width: 320px) and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        color: #FFFFFF;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 87%;
        height: 100%;
        border-radius: 15px;
        background: #FFFFFF;
        padding: 10px 15px;
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .description__item {
        border-radius: 15px;
        padding: 5px 10px;
        color: #071A71;
        font-size: 14px;
        text-align: justify;
        box-shadow: 0 0 10px #cccccc;
    }
}
