// Основной цвет
$primary-0: #1531ae;
$primary-1: #2d3c82;
$primary-2: #071a71;
$primary-3: #4962d6;
$primary-4: #6f81d6;

// Вторичный цвет A
$secondary-a-0: #01939a;
$secondary-a-1: #1d7074;
$secondary-a-2: #006064;
$secondary-a-3: #34c6cd;
$secondary-a-4: #5dc8cd;

// Вторичный цвет B
$secondary-b-0: #ff7600;
$secondary-b-1: #bf7230;
$secondary-b-2: #a64d00;
$secondary-b-3: #ff9840;
$secondary-b-4: #ffb473;

// Дополнительный цвет
$complement-0: #ffb400;
$complement-1: #bf9530;
$complement-2: #a67500;
$complement-3: #ffc740;
$complement-4: #ffd673;

// Другие цвета
$white: #ffffff;
$grey: #cccccc;
